.App {
  position:relative;
  background-color: #282c34;
  min-height: 90vh;
  min-width: 90vw;
}
:root{
  --btn-width: 5%;
  --btn-height: 5%;
}
#play-area{
  position: absolute;
  left:10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border: 1px dotted white;
}

#sample{
  padding: 9px;
  display: flex;
  position: absolute;
  width: 30%;
  word-wrap: normal;
  border: 5px solid green;
  border-radius: 20px;
  color: white;
}


.btn{
  position: absolute;
  background-color: red;
  color: white;
  width:var(--btn-width);
  height: var(--btn-height);
}

.btn-up{
  left: calc((100% - var(--btn-width))/2);
}

.btn-right{
  right: 0%;
  top: 50%;
}

.btn-left{
  left: 0%;
  top: calc((100% - var(--btn-height))/2);
}

.btn-down{
  left: calc((100% - var(--btn-height))/2);
  bottom: 0%;
}

#numeric-feedback{
  position: absolute;
  right: 0%;
  bottom: 0%;
  border: 2px double white;
  width: fit-content;
  height: fit-content;
}

th{
  border: 2px solid black;
  color: white;
}

td{
  border: 1px solid black;
  color: white;
  text-align: center;
}

.btn-incrementer{
  width: 100%;
  height:100%;
}

#note{
  position: absolute;
  border:1px solid black;
  right: 0%;
  bottom: 0%;
  padding-top: 5px;
  padding-bottom: 15px;
  word-wrap: normal;
  color: white;
  height:50px;
  width: 40%;
  text-align: center;
}